*{
    margin: 0;
    padding: 0;
}

.index{
    background-color: gray;
    color: white;
}

.news{
    background-color: black;
    color: white;
}

.about{
    background-color: violet;
    color: white;
}

.menu a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin: 10px;
}
.menu a:hover{
    background-color: white;
    color: black;
}

.title{
    text-align: center;
}

.nNadpis{
    text-align: center;
}

.aNadpis{
    text-align: center;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
}
.ctverec{
    margin: 20px;
    height: 100px;
    width: 100px;
    border: solid 2px white;
    border-radius: 10px;
    background-color: gray;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    row-gap: 50px;
    column-gap: 50px;
    margin: 15px;
}

.polozka-1{
    height: 100px;
    width: 100px;
    background-color: gray;
    border-radius: 15px;
    border: solid 2px black;
}
.polozka-2{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 15px;
    border: solid 2px black;
}
.polozka-3{
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 15px;
    border: solid 2px black;
}
.polozka-4{
    height: 100px;
    width: 100px;
    background-color: brown;
    border-radius: 15px;
    border: solid 2px black;
}
.polozka-5{
    height: 100px;
    width: 100px;
    background-color: crimson;
    border-radius: 15px;
    border: solid 2px black;
}
.polozka-6{
    height: 100px;
    width: 100px;
    background-color: darkcyan;
    border-radius: 15px;
    border: solid 2px black;
}